.nav-hover{

    @apply cursor-pointer relative font-medium font-['Poppins'] pb-1 before:absolute before:bg-[#b1b493] before:h-[2px] before:bottom-0 before:w-0 hover:before:w-full  before:transform before:transition-all before:duration-300 before:ease-in-out before:left-1/2 hover:before:left-0;
}
.active-before{
    @apply before:left-0 before:w-full
}
tui-wrapper[data-appearance='custom'] {
    background: #b1b493;
    color: #fff;

}
tui-wrapper[data-appearance='custom_2'] {
    border: 2px solid;
    color: #b1b493;

    &[data-state='hovered'] {
        background: #b1b493;
        color: #fff;
    }

   

}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    // font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  *{
    font-family: "Poppins";
  }
  .wrapper {
    --tui-chart-0: #b1b493;
    --tui-chart-1:transparent;
    font-weight:bold;
    font-size: x-large;
}
.chart {
    pointer-events: none;
}

.cart{
    &:hover{
        background-color: #b1b493;
        color: #fff;
        .icon{
            color: #b1b493;
            background-color: #fff;
            transform: translate(50%, -50%);
        }

    .des{
        color: white;
    }
    }

    .icon{
        color: white;

    }

    .des{
        color: gray;
    }
}

tui-wrapper[data-appearance='custom_3'] {
    background: white;
    color: #b1b493;
    
    &[data-state='pressed'] {
        border: 2px solid blue;
    }

}

.project{
    .overlay{
        visibility: visible;
        opacity: .3;
    }
    @media (min-width:1024px){
        .overlay{
            visibility: hidden;
            opacity: 0;
        }
        .text {
            visibility: visible;
            opacity: 1;
        }
        &:hover{
            .overlay{
                visibility: visible;
                opacity: .3;
            }
        }
        .text{
            visibility: hidden;
            opacity: 0;
        }
        &:hover{
            .text {
                visibility: visible;
                opacity: 1;
            }
        }
    }
   
}

.border_1{
    border: 2px solid #b1b493 !important;
}
