<tui-root>
  <div class="flex flex-col">
    <div id="home" class="relative h-[750px]">
      <div class="z-10 absolute w-full flex lg:justify-center lg:items-center">
        <div
          [ngClass]="isMenu ? 'max-h-96' : 'max-h-16'"
          class="bg-black transform transition-all duration-300 overflow-hidden lg:bg-transparent py-4 lg:py-0 text-white lg:h-16 flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:justify-between lg:items-center container"
        >
          <div class="flex flex-row lg:justify-center lg:items-center">
            <a
              class="text-2xl text-white lg:text-black font-bold text-center mr-5 font-s font-['sans-serif']"
              >CLYDE.</a
            >
            <div class="lg:hidden flex justify-end w-full">
              <div class="">
                <a (click)="changeMenu()" class="text-base font-medium"
                  ><span class="nav-hover uppercase">Menu</span></a
                >
              </div>
            </div>
          </div>
          <div
            class="flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:space-x-12 flex-1 justify-end w-full"
          >
            <div class="" *ngFor="let item of arr">
              <a
                (click)="click(item)"
                [ngClass]="select == item ? 'text-yellow-200' : ''"
                class="text-base font-medium"
                ><span
                  class="nav-hover"
                  [ngClass]="select == item ? 'active-before' : ''"
                  >{{ item.name }}</span
                ></a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="z-0 absolute top-0 left-0 w-full h-full flex flex-row justify-end"
      >
        <div
          class="w-full lg:w-[70%] h-full bg-cover bg-no-repeat bg-center relative"
          style="
            background-image: url(https://preview.colorlib.com/theme/clyde/images/xbg_1.jpg.pagespeed.ic.0B-wz9A3wz.webp);
          "
        >
          <div
            class="hidden lg:block absolute left-[-7%] w-[150px] flex-1 bg-gray-200 skew-x-[20deg] h-1/2 z-0 pr-3"
          >
            <div class="w-full h-full bg-white"></div>
          </div>
          <div
            class="hidden lg:block absolute left-[-7%] w-[150px] bottom-0 bg-gray-200 h-1/2 skew-x-[-20deg] pr-3"
          >
            <div class="w-full h-full bg-white"></div>
          </div>
        </div>
        <div class="absolute w-full h-full flex justify-center items-center">
          <div
            class="w-full h-full z-10 text-black flex flex-col justify-center items-center lg:items-start container"
          >
            <div animateIn [timing]="500">
              <span
                class="text-[#b1b493] text-[14px] tracking-[3px] uppercase font-[600]"
                >We Design & Build Brands</span
              >
            </div>
            <div class="">
              <h1
                animateIn
                [timing]="800"
                class="text-center lg:text-left mb-4 mt-3 text-[55px] font-[900]"
              >
                Hi, I am
                <span class="text-[#b1b493]">Clyde</span>
                This is <br />
                my favorite work.
              </h1>
              <p
                class="flex flex-row justify-center items-center lg:justify-start"
              >
                <a href="#">
                  <button
                    animateIn
                    [timing]="1000"
                    tuiButton
                    type="button"
                    size="m"
                    appearance="custom"
                    class=""
                  >
                    Hire me
                  </button>
                </a>
                <a href="#" class="ml-2">
                  <button
                    animateIn
                    [timing]="1300"
                    tuiButton
                    type="button"
                    size="m"
                    appearance="custom_2"
                    class=""
                  >
                    Download CV
                  </button>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center items-center py-12 bg-gray-50">
      <div
        class="flex flex-col space-y-4 lg:space-y-0 md:flex-row container lg:justify-between lg:items-center w-full"
      >
        <ng-container *ngFor="let item of listIcon; let i = index">
          <div
            animateIn
            [timing]="400 + i * 200"
            class="flex flex-1 justify-start items-center"
          >
            <div
              class="h-20 w-20 p-4 rounded-full bg-[#b1b493] flex justify-center items-center"
            >
              <div
                class="rounded-full bg-[#b1b493] text-[36px] text-white bi"
                [ngClass]="item.img"
              ></div>
            </div>
            <div class="flex flex-col pl-2">
              <div class="text-3xl font-extrabold">{{ item.id }}</div>
              <div class="text-base font-medium text-[#b1b493]">
                {{ item.name }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div id="about" class="w-full flex justify-center items-center">
      <div class="flex flex-row justify-center container w-full">
        <div
          class="hidden md:block lg:w-1/2 h-[730px] bg-center bg-cover"
          style="
            background-image: url(https://preview.colorlib.com/theme/clyde/images/xabout-1.jpg.pagespeed.ic.ddizeCDgB1.webp);
          "
        >
          <!-- <img
            class="w-full h-full"
            src="https://preview.colorlib.com/theme/clyde/images/xabout-1.jpg.pagespeed.ic.ddizeCDgB1.webp"
          /> -->
        </div>
        <div class="w-full lg:w-1/2 pt-12 pb-12 lg:pl-12">
          <div animateIn class="pt-12 pb-12">
            <div class="pb-[5px]">
              <span
                class="text-sm text-[#b1b493] uppercase font-serif font-bold tracking-[.25em]"
                >My Intro</span
              >
            </div>
            <h2 class="text-4xl pb-6 font-bold">About Me</h2>
            <p class="text-lg pb-4 text-[#999]">
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly into your mouth.
            </p>
            <div class="pt-6 flex flex-col">
              <ng-container *ngFor="let item of keyValueList">
                <div class="flex flex-row text-base lg:text-lg h-10">
                  <div class="w-1/2 lg:w-1/4 font-bold">{{ item.key }}</div>
                  <p class="w-1/2 lg:w-3/4 text-[#b1b493] font-bold">
                    {{ item.value }}
                  </p>
                </div>
              </ng-container>
            </div>
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
              <ng-container *ngFor="let item of iconValue">
                <div class="flex flex-1 pl-3 border-l-2 border-[#b1b493]">
                  <div
                    class="h-8 w-8 rounded-full bg-[#b1b493] flex justify-center items-center"
                  >
                    <span class="material-icons text-[24px] text-white">{{
                      item.icon
                    }}</span>
                  </div>
                  <div
                    class="flex justify-center items-center pl-[6px] text-lg font-bold"
                  >
                    {{ item.value }}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="skill"
      class="w-full bg-gray-50 flex justify-center items-center py-28"
    >
      <div class="container">
        <div class="flex justify-center items-center mb-[5px]">
          <span animateIn class="text-[#b1b493] tracking-[.25em]">
            SKILLS
          </span>
        </div>
        <div
          class="mb-6 flex justify-center items-center text-4xl font-bold tracking-[.1em] font-[sans-serif]"
        >
          <h2 animateIn class="">My Skills</h2>
        </div>
        <div
          animateIn
          class="flex justify-center items-center mb-4 text-[#999] text-sm font-[sans-serif] text-center lg:text-left"
        >
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia
        </div>
        <div class="w-full justify-center items-center flex flex-row wrapper">
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 chart w-full">
            <div *ngFor="let item of reportList" class="mb-4">
              <div class="bg-white rounded-lg shadow-2xl p-12">
                <div class="flex justify-center items-center pb-6 text-base">
                  {{ item.title }}
                </div>

                <div class="w-full flex justify-center items-center">
                  <tui-ring-chart
                    size="m"
                    [value]="[item.value, 100 - item.value]"
                  >
                    <div class="wrapper flex justify-center items-center">
                      {{ item.value }} <sup>%</sup>
                    </div>
                  </tui-ring-chart>
                </div>
                <div class="flex flex-row mt-4">
                  <div
                    class="flex flex-1 justify-center items-center border-r-2 border-[#b1b493]"
                  >
                    <div class="flex flex-col justify-center items-center">
                      <div class="">
                        <span class="text-lg">28%</span>
                      </div>
                      <div>
                        <span class="text-xs">Last week</span>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-1 justify-center items-center">
                    <div class="flex flex-col justify-center items-center">
                      <div>
                        <span class="text-lg">60%</span>
                      </div>
                      <div>
                        <span class="text-xs">Last month </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="service" class="py-28 w-full flex justify-center items-center">
      <div class="container">
        <div animateIn class="mb-12 pb-5">
          <div class="flex justify-center items-center mb-[5px]">
            <span class="text-[#b1b493] tracking-[.25em]"> I AM GRAT AT </span>
          </div>
          <div
            class="mb-6 flex justify-center items-center text-4xl font-bold tracking-[.1em] font-[sans-serif]"
          >
            <h2 class="">We do awesome services for our clients</h2>
          </div>
          <div
            animateIn
            class="flex justify-center items-center mb-4 text-[#999] text-sm font-[sans-serif] text-center lg:text-left"
          >
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </div>
        </div>
        <div class="w-full justify-center items-center flex flex-row">
          <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-4 gap-y-20 w-full">
            <div *ngFor="let item of serviceList; let i = index">
              <div
                animateIn
                [timing]="400 + i * 200"
                class="cart h-full flex flex-col rounded-lg shadow-xl px-8 pb-4 relative bg-slate-50"
              >
                <div
                  class="icon shadow-lg transition-all duration-300 -translate-y-1/2 transform w-20 h-20 rounded-full bg-[#b1b493] flex justify-center items-center"
                >
                  <span class="material-icons text-[40px]">{{
                    item.icon
                  }}</span>
                </div>
                <div class="">
                  <div class="mb-3">
                    <span class="title text-lg">{{ item.title }}</span>
                  </div>
                  <div>
                    <span class="des text-sm">{{ item.body }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full bg-[#b1b493] flex justify-center items-center xl:block">
      <div class="container mx-auto flex flex-col lg:flex-row">
        <div class="w-full lg:w-2/3 py-6 lg:px-4 flex justify-center flex-col">
          <div
            class="text-white text-4xl tracking-[.1em] font-[sans-serif] pb-2 flex items-center"
          >
            <h2>Have a project on your mind.</h2>
          </div>
          <div
            class="text-[#FFFFFFE6] text-sm font-[sans-serif] font-normal mb-4 leading-normal flex items-center"
          >
            <span
              >A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly.</span
            >
          </div>
          <div class="text-sm">
            <button
              tuiButton
              type="button"
              appearance="custom_3"
              size="m"
              class=""
            >
              Contact me
            </button>
          </div>
        </div>
        <div class="w-full lg:w-1/3 lg:px-4">
          <img
            class="xl:mt-[-90px] h-auto max-w-full"
            src="https://preview.colorlib.com/theme/clyde/images/xauthor.png.pagespeed.ic.wvIdQsSsMl.webp"
          />
        </div>
      </div>
    </div>
    <div
      id="project"
      class="py-28 w-full flex justify-center items-center lg:px-6"
    >
      <div class="lg:px-4 w-full">
        <div animateIn class="mb-12 pb-5 w-full">
          <div class="flex justify-center items-center mb-[5px]">
            <span class="text-[#b1b493] tracking-[.25em] uppercase">
              Accomplishments
            </span>
          </div>
          <div
            class="mb-6 flex justify-center items-center text-4xl font-bold tracking-[.1em] font-[sans-serif]"
          >
            <h2 class="">Our Projects</h2>
          </div>
          <div
            animateIn
            class="flex justify-center items-center mb-4 text-[#999] text-sm font-[sans-serif] text-center lg:text-left"
          >
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </div>
        </div>
        <div class="w-full justify-center items-center flex flex-row">
          <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-4 gap-y-8 w-full">
            <div
              *ngFor="let item of imgList; let i = index"
              class="project relative z-0 flex h-[285px] bg-center bg-cover bg-no-repeat shadow-sm rounded-md"
              [style.background-image]="'url(' + item.img + ')'"
              animateIn
              [timing]="400 + i * 200"
            >
              <div
                class="absolute r-0 t-0 z-10 w-full h-full flex overlay bg-black transition-all duration-500"
              ></div>
              <div
                class="absolute r-0 t-0 z-10 w-full h-full text flex flex-col justify-center items-center transition-all duration-500"
              >
                <div class="text-white text text-center p-4">
                  <h2 class="text-xl font-semibold">
                    Branding & Illustration Design
                  </h2>
                  <br />
                  <span class="text-[#b1b493] text-sm uppercase tracking-normal"
                    >Web Design</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full pt-28 bg-[#b1b493] pb-28">
      <div animateIn class="container mx-auto">
        <div class="mb-12 pb-5">
          <div class="flex justify-center items-center mb-[5px]">
            <span class="text-[#FFFFFFE6] tracking-[.25em] uppercase">
              Testimonies</span
            >
          </div>

          <h2
            class="mb-6 flex justify-center items-center text-4xl font-bold tracking-[.1em] font-[sans-serif] text-white text-center lg:text-left"
          >
            What client says about?
          </h2>
          <div class="flex justify-center items-center mb-4">
            <span
              class="text-[#FFFFFFE6] text-sm font-[sans-serif] tracking-[.1em]"
              >Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia
            </span>
          </div>
        </div>
      </div>
      <div class="w-full flex justify-center items-center px-5 py-6">
        <div animateIn class="container mx-auto">
          <tui-carousel
            [duration]="3000"
            [draggable]="true"
            [itemsCount]="innerWidth >= 1024 ? 3 : innerWidth >= 600 ? 2 : 1"
            [(index)]="index"
            class="pt-4 pb-8"
          >
            <ng-container *ngFor="let item of listSquare; let i = index">
              <tui-island *tuiItem>
                <div class="flex flex-col justify-center items-center">
                  <div>
                    <i
                      class="fa fa-quote-left text-[#b1b493] text-3xl absolute left-5"
                    ></i>
                    <p
                      class="pl-12 mb-5 text-[#999] font-[Poppins,Arial,sans-serif] leading-7 font-normal text-sm text-justify"
                    >
                      {{ item.text }}
                    </p>
                  </div>
                  <div class="flex flex-row">
                    <div
                      [style.background-image]="'url(' + item.img + ')'"
                      class="w-20 h-20 rounded-full bg-center bg-cover"
                    ></div>
                    <div class="pl-3 flex flex-col justify-center">
                      <div class="text-lg font-bold">{{ item.name }}</div>
                      <div class="text-[#999] font-light">
                        {{ item.position }}
                      </div>
                    </div>
                  </div>
                </div>
              </tui-island>
            </ng-container>
          </tui-carousel>
          <tui-pagination
            size="s"
            class="pagination"
            [length]="listSquare.length / 3"
            [(index)]="index"
          >
          </tui-pagination>
        </div>
      </div>
    </div>
    <div id="blog" class="w-full pt-28 pb-28 bg-[#f8f9fa]">
      <div class="container mx-auto">
        <div
          animateIn
          class="flex flex-wrap mb-5 pb-5 mx-[-15px] justify-center box-content"
        >
          <div class="flex flex-col justify-center items-center">
            <div class="mb-[5px]">
              <span class="text-[#b1b493] tracking-[.25em] uppercase">
                Blog</span
              >
            </div>
            <div class="mb-6">
              <h2 class="text-4xl font-bold tracking-[.1em] font-[sans-serif]">
                Our Blog
              </h2>
            </div>
            <div
              animateIn
              class="flex justify-center items-center mb-4 text-[#999] text-sm font-[sans-serif] text-center lg:text-left"
            >
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 grap-4">
          <div
            *ngFor="let item of lists; let i = index"
            class="flex flex-col justify-center items-center"
          >
            <div animateIn [timing]="400 + 200 * i" class="lg:px-4">
              <div
                class="bg-center bg-cover h-[300px] w-full"
                [style.background-image]="'url(' + item.img + ')'"
              ></div>
              <div
                class="pt-4 mb-3 mr-[5px] uppercase text-[#b1b493] text-xs tracking-[.25em] font-normal"
              >
                {{ item.date }}
              </div>
              <div class="mb-4 text-xl font-medium hover:text-[#b1b493]">
                {{ item.title }}
              </div>
              <div
                class="mb-4 text-[#999] text-sm font-[sans-serif] tracking-[.1em] leading-6 font-normal"
              >
                {{ item.text }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="pt-28 w-full">
      <div class="container mx-auto">
        <div
          class="flex flex-wrap mb-5 pb-5 mx-[-15px] justify-center box-content"
        >
          <div animateIn class="flex flex-col justify-center items-center">
            <div class="mb-[5px]">
              <span class="text-[#b1b493] tracking-[.25em] uppercase font-bold">
                CONTACT US</span
              >
            </div>
            <div class="mb-6">
              <h2 class="text-4xl font-bold tracking-[.1em] font-[sans-serif]">
                Have a Project?
              </h2>
            </div>
            <div class="mb-4 text-center">
              <span
                class="text-[#999] text-sm font-[sans-serif] tracking-[.1em] leading-7 font-light"
                >Far far away, behind the word mountains, far from the countries
                Vokalia and <br />Consonantia
              </span>
            </div>
          </div>
        </div>
        <div class="flex flex-col lg:flex-row">
          <div class="w-full lg:w-2/3 bg-[#f8f9fa]">
            <form
              class="p-4 lg:p-12"
              [formGroup]="testForm"
              [tuiTextfieldLabelOutside]="true"
            >
              <div class="flex flex-row mb-4">
                <div class="w-1/2 px-[15px]">
                  <tui-input tuiTextfieldSize="m" formControlName="testValue">
                    <input
                      tuiTextfield
                      type="text"
                      class="text-[#b1b493] border_1"
                    />Your Name
                  </tui-input>
                </div>
                <div class="w-1/2 px-[15px]">
                  <tui-input formControlName="testValue" tuiTextfieldSize="m">
                    <input
                      tuiTextfield
                      type="text"
                      class="text-[#b1b493] border_1"
                    />Your Email
                  </tui-input>
                </div>
              </div>
              <div class="px-[15px] mb-4">
                <tui-input formControlName="testValue" tuiTextfieldSize="m">
                  <input
                    tuiTextfield
                    type="text"
                    class="text-[#b1b493] border_1"
                  />Subject
                </tui-input>
              </div>
              <div class="px-[15px] mb-4">
                <tui-text-area
                  formControlName="testValue"
                  [expandable]="true"
                  class="border_1"
                >
                  Message
                </tui-text-area>
              </div>
              <div class="px-[15px] mb-4 text-sm">
                <a href="#">
                  <button
                    tuiButton
                    type="button"
                    size="m"
                    appearance="custom"
                    class="w-full lg:w-auto"
                  >
                    Send Message
                  </button>
                </a>
              </div>
            </form>
          </div>
          <div
            class="w-full lg:w-1/3 lg:pl-12 lg:pr-[15px] flex flex-col space-y-4 lg:space-y-0 lg:justify-between pb-16"
          >
            <div *ngFor="let item of inforList" class="flex flex-row">
              <div
                class="flex h-[50px] w-[50px] rounded-full bg-[#b1b493] justify-center items-center"
              >
                <span class="material-icons text-[24px] text-white">{{
                  item.icon
                }}</span>
              </div>
              <div class="w-[calc(100%-50px)] pl-4">
                <p class="text-sm font-medium">
                  {{ item.title }}
                  <br />
                  <span class="text-[#999999] font-normal text-base">
                    {{ item.sub }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full pt-28 bg-[#343a40] pb-28">
      <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row mb-12">
          <div class="flex flex-1 px-[15px] mb-4 flex-col">
            <div>
              <h2 class="mb-10 text-[#fff] text-xl font-semibold">
                Lets talk about
              </h2>
            </div>
            <div>
              <p class="mb-4 text-[#ffffffb3] text-base">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
            <div>
              <p>
                <a href="#">
                  <button
                    tuiButton
                    type="button"
                    size="m"
                    appearance="custom"
                    class=""
                  >
                    Lern more
                  </button>
                </a>
              </p>
            </div>
          </div>
          <div class="flex flex-1 px-[15px] mb-4 flex-col">
            <div>
              <h2 class="mb-10 text-[#fff] text-xl font-semibold">Links</h2>
            </div>
            <div class="text-base text-[#ffffffb3] font-normal">
              <ul class="">
                <li class="mb-[10px]">
                  <a href="#" class="flex flex-row items-center">
                    <span class="material-icons text-[12px]">
                      arrow_forward_ios</span
                    >
                    <div class="pl-2">Home</div>
                  </a>
                </li>
                <li class="mb-[10px]">
                  <a href="#">
                    <span class="material-icons text-[12px] mr-2">
                      arrow_forward_ios</span
                    >
                    About
                  </a>
                </li>
                <li class="mb-[10px]">
                  <a href="#">
                    <span class="material-icons text-[12px] mr-2">
                      arrow_forward_ios</span
                    >
                    Services
                  </a>
                </li>
                <li class="mb-[10px]">
                  <a href="#">
                    <span class="material-icons text-[12px] mr-2">
                      arrow_forward_ios</span
                    >
                    Project
                  </a>
                </li>
                <li class="mb-[10px]">
                  <a href="#">
                    <span class="material-icons text-[12px] mr-2">
                      arrow_forward_ios</span
                    >
                    Contact
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex flex-1 px-[15px] mb-4 flex-col">
            <div>
              <h2 class="mb-10 text-[#fff] text-xl font-semibold">Services</h2>
            </div>
            <div class="text-base text-[#ffffffb3] font-normal">
              <ul class="">
                <li class="mb-[10px]">
                  <a href="#">
                    <span class="material-icons text-[12px] mr-2">
                      arrow_forward_ios</span
                    >
                    Web Design
                  </a>
                </li>
                <li class="mb-[10px]">
                  <a href="#">
                    <span class="material-icons text-[12px] mr-2">
                      arrow_forward_ios</span
                    >
                    Web Development
                  </a>
                </li>
                <li class="mb-[10px]">
                  <a href="#">
                    <span class="material-icons text-[12px] mr-2">
                      arrow_forward_ios</span
                    >
                    Business Strategy
                  </a>
                </li>
                <li class="mb-[10px]">
                  <a href="#">
                    <span class="material-icons text-[12px] mr-2">
                      arrow_forward_ios</span
                    >
                    Data Analysis
                  </a>
                </li>
                <li class="mb-[10px]">
                  <a href="#">
                    <span class="material-icons text-[12px] mr-2">
                      arrow_forward_ios</span
                    >
                    Graphic Design
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex flex-1 px-[15px] mb-4 flex-col">
            <div>
              <h2 class="mb-10 text-[#fff] text-xl font-semibold">
                Have a Questions?
              </h2>
            </div>
            <div class="text-base text-[#ffffffb3] font-normal">
              <ul class="">
                <li class="mb-[10px]">
                  <a href="#" class="flex flex-row items-start">
                    <span class="material-icons text-[24px] mr-2">
                      auto_stories</span
                    >
                    <div class="pl-2">
                      203 Fake St. Mountain View, San Francisco, California, USA
                    </div>
                  </a>
                </li>
                <li class="mb-[10px]">
                  <a href="#" class="flex flex-row items-start">
                    <span class="material-icons text-[24px] mr-2"> call</span>
                    <div class="pl-2">+2 392 3929 210</div>
                  </a>
                </li>
                <li class="mb-[10px]">
                  <a href="#" class="flex flex-row items-start">
                    <span class="material-icons text-[24px] mr-2"> public</span>
                    <div class="pl-2">info@yourdomain.com</div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="flex flex-row mt-2 mb-4">
              <div
                class="mb-[10px] mr-[10px] h-10 w-10 rounded-full bg-[#ffffff1a] flex justify-center items-center"
              >
                <a class="bi bi-twitter text-[#fff9] text-[20px]"></a>
              </div>
              <div
                class="mb-[10px] mr-[10px] h-10 w-10 rounded-full flex justify-center items-center bg-[#ffffff1a]"
              >
                <a class="bi bi-facebook text-[#fff9] text-[20px]"></a>
              </div>
              <div
                class="mb-[10px] mr-[10px] h-10 w-10 rounded-full flex justify-center items-center bg-[#ffffff1a]"
              >
                <a class="bi bi-instagram text-[#fff9] text-[20px]"></a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex justify-center items-center pb-4 text-base text-[#ffffffb3] px-[15px]"
        >
          <p>
            Copyright ©2022 All rights reserved | This template is made with
            <i class="bi bi-heart-fill text-[#ffffffb3] text-base"></i>
            by Colorlib
          </p>
        </div>
      </div>
    </div>
  </div>
</tui-root>
